@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html,
body,
h1,
h2,
p,
h3 {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  line-height: 1.5em;
}

a {
  color: inherit;
  text-decoration: none;
}

.hidden {
  display: none;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}

body {
  background-color: #a0c9d9;
}
